body {
  background-color: #f4f4f4;
  font-family: 'Poppins',Arial, Helvetica, sans-serif;
  line-height: 1.3; }

:root {
  --blue-dark: #3B749F;
  --blue-darker: rgb(33, 69, 97);
  --blue-bright: #00BCD5;
  --blue-light: #B2EBF2;
  --redish-primary: #DD2C00;
  --redish-light: #FE5722; }
